CREATE EXTENSION IF NOT EXISTS "uuid-ossp"; CREATE TABLE IF NOT EXISTS app_users ( id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), name TEXT NOT NULL, password TEXT UNIQUE NOT NULL, role TEXT NOT NULL DEFAULT 'user', created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) ); INSERT INTO app_users (name, password, role) VALUES ('جواد', '10011001', 'super_admin') ON CONFLICT (password) DO NOTHING; ALTER TABLE app_users DISABLE ROW LEVEL SECURITY;
